//iss file mei vo saare colours ki detail hogi jo hum iss website mei use karne  vale hai
//hum ismei variables bhi bana skte hain
//first ,second , third ,... ye dsab variable hain ..jo ...color ko store kar rhe hain
$first: white;
$second: #090c31;
$third: #5853ff;
$dark: rgb(44, 44, 44);
$text1: "Roboto";
$text2: cursive;
